@-ms-viewport
{
	width: 320px;
}

@-webkit-viewport
{
	width: 320px;
}

@-o-viewport
{
	width: 320px;
}

@-moz-viewport
{
	width: 320px;
}

@viewport
{
	width: 320px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 320px;
	min-height: 480px;
	border-style: none;
	border-color: #000000;
	background: #FFFFFF url("../images/background.jpg") no-repeat center top;
}

#page_position_content
{
	margin-top: 6px;
	margin-bottom: -1px;
}

#u189-4
{
	z-index: 3;
	margin-left: 92px;
}

#u237
{
	z-index: 7;
	width: 250px;
	margin-left: 35px;
	margin-top: 72px;
}

#u195-6
{
	z-index: 33;
	width: 99px;
	min-height: 95px;
	padding-top: 5px;
	margin-right: -10000px;
	margin-top: 112px;
	left: 21px;
}

#u195-6:hover
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 95px;
	margin: 112px -10000px 0px 0px;
}

#u195-6.MuseLinkActive
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 95px;
	margin: 112px -10000px 0px 0px;
}

#pu190
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u190
{
	z-index: 8;
	width: 250px;
	margin-right: -10000px;
}

#u194-6
{
	z-index: 9;
	width: 99px;
	min-height: 94px;
	padding-top: 6px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 151px;
}

#u194-6:hover
{
	padding-top: 6px;
	padding-bottom: 0px;
	min-height: 94px;
	margin: 58px -10000px 0px 0px;
}

#u194-6.MuseLinkActive
{
	padding-top: 6px;
	padding-bottom: 0px;
	min-height: 94px;
	margin: 58px -10000px 0px 0px;
}

#u193-6
{
	z-index: 15;
	width: 99px;
	min-height: 94px;
	padding-top: 5px;
	margin-right: -10000px;
	margin-top: 34px;
}

#u193-6:hover
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 94px;
	margin: 34px -10000px 0px 0px;
}

#u193-6.MuseLinkActive
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 94px;
	margin: 34px -10000px 0px 0px;
}

#u192-6
{
	z-index: 21;
	width: 94px;
	min-height: 96px;
	padding-top: 5px;
	margin-right: -10000px;
	left: 89px;
}

#u192-6:hover
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 96px;
	margin: 0px -10000px 0px 0px;
}

#u192-6.MuseLinkActive
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 96px;
	margin: 0px -10000px 0px 0px;
}

#u191-6
{
	z-index: 27;
	width: 99px;
	min-height: 95px;
	padding-top: 5px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 112px;
}

#u191-6:hover
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 95px;
	margin: 133px -10000px 0px 0px;
}

#u191-6.MuseLinkActive
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 95px;
	margin: 133px -10000px 0px 0px;
}

#u196
{
	z-index: 39;
	width: 76px;
	height: 73px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 82px;
}

#u188
{
	z-index: 2;
	width: 319px;
	height: 52px;
	margin-top: 72px;
}

#page .verticalspacer
{
	clear: both;
}

