#u85
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #0D73C2;
	-moz-border-radius: 0px 0px 26px 26px ;
	-webkit-border-radius: 0px 0px 26px 26px ;
	-khtml-border-radius: 0px 0px 26px 26px ;
	border-radius: 0px 0px 26px 26px ;
	position: relative;
}

#u98-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u97-3,#u236,#u166
{
	position: relative;
}

#u169-5
{
	background-color: #1D70C0;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u169-5:hover
{
	background-color: #77A9D9;
	background-color: rgba(29, 112, 192, 0.6);
	-pie-background: rgba(29, 112, 192, 0.6);
}

#u169-5.MuseLinkActive
{
	background-color: #77A9D9;
	background-color: rgba(29, 112, 192, 0.6);
	-pie-background: rgba(29, 112, 192, 0.6);
}

#u169-2
{
	font-size: 20px;
	line-height: 2px;
	padding-top: 34px;
}

#u169-3
{
	font-size: 30px;
	line-height: 0px;
	padding-top: 29px;
}

#u167-5
{
	background-color: #6667A1;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u167-5:hover
{
	background-color: #A3A3C6;
	background-color: rgba(102, 103, 161, 0.6);
	-pie-background: rgba(102, 103, 161, 0.6);
}

#u167-5.MuseLinkActive
{
	background-color: #A3A3C6;
	background-color: rgba(102, 103, 161, 0.6);
	-pie-background: rgba(102, 103, 161, 0.6);
}

#u167-2
{
	font-size: 20px;
	line-height: 2px;
	padding-top: 34px;
}

#u167-3
{
	font-size: 30px;
	line-height: 0px;
	padding-top: 26px;
}

#u168-5
{
	background-color: #408381;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u168-5:hover
{
	background-color: #8CB4B3;
	background-color: rgba(64, 131, 129, 0.6);
	-pie-background: rgba(64, 131, 129, 0.6);
}

#u168-5.MuseLinkActive
{
	background-color: #8CB4B3;
	background-color: rgba(64, 131, 129, 0.6);
	-pie-background: rgba(64, 131, 129, 0.6);
}

#u168-2
{
	font-size: 20px;
	line-height: 2px;
	padding-top: 34px;
}

#u168-3
{
	font-size: 30px;
	line-height: 0px;
	padding-top: 26px;
}

#u170-5
{
	background-color: #0DA85C;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u170-5:hover
{
	background-color: #6DCA9D;
	background-color: rgba(13, 168, 92, 0.6);
	-pie-background: rgba(13, 168, 92, 0.6);
}

#u170-5.MuseLinkActive
{
	background-color: #6DCA9D;
	background-color: rgba(13, 168, 92, 0.6);
	-pie-background: rgba(13, 168, 92, 0.6);
}

#u170-2
{
	font-size: 20px;
	line-height: 2px;
	padding-top: 34px;
}

#u170-3
{
	font-size: 30px;
	line-height: 0px;
	padding-top: 26px;
}

#u172-5
{
	background-color: #8CCAD8;
	background-color: rgba(26, 150, 177, 0.5);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	-pie-background: rgba(26, 150, 177, 0.5);
}

#u172-5:hover
{
	background-color: #75C0D0;
	background-color: rgba(26, 150, 177, 0.6);
	-pie-background: rgba(26, 150, 177, 0.6);
}

#u172-5.MuseLinkActive
{
	background-color: #75C0D0;
	background-color: rgba(26, 150, 177, 0.6);
	-pie-background: rgba(26, 150, 177, 0.6);
}

#u172-2
{
	font-size: 20px;
	line-height: 2px;
	padding-top: 34px;
}

#u172-3
{
	font-size: 30px;
	line-height: 0px;
	padding-top: 26px;
}

#u171
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0.9998,-0.0175,0.0175,0.9998,-1,1);
	-ms-transform: matrix(0.9998,-0.0175,0.0175,0.9998,-1,1);
	-o-transform: matrix(0.9998,-0.0175,0.0175,0.9998,-1,1);
	transform: matrix(0.9998,-0.0175,0.0175,0.9998,-1,1);
	position: relative;
	background: #FFFFFF url("../images/home-u171-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/home.png") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover !important;
}

#u88
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #0D73C2;
	-moz-border-radius: 26px 26px 0px 0px ;
	-webkit-border-radius: 26px 26px 0px 0px ;
	-khtml-border-radius: 26px 26px 0px 0px ;
	border-radius: 26px 26px 0px 0px ;
	position: relative;
}

