#u189-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u195-6
{
	background-color: #1A96B1;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u195-6:hover
{
	background-color: #75C0D0;
	background-color: rgba(26, 150, 177, 0.6);
	-pie-background: rgba(26, 150, 177, 0.6);
}

#u195-6.MuseLinkActive
{
	background-color: #75C0D0;
	background-color: rgba(26, 150, 177, 0.6);
	-pie-background: rgba(26, 150, 177, 0.6);
}

#u195-2
{
	font-size: 20px;
	line-height: 2px;
	padding-top: 34px;
}

#u195-4
{
	font-size: 30px;
	line-height: 0px;
	padding-top: 26px;
}

#u237,#u190
{
	position: relative;
}

#u194-6
{
	background-color: #1D70C0;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u194-6:hover
{
	background-color: #77A9D9;
	background-color: rgba(29, 112, 192, 0.6);
	-pie-background: rgba(29, 112, 192, 0.6);
}

#u194-6.MuseLinkActive
{
	background-color: #77A9D9;
	background-color: rgba(29, 112, 192, 0.6);
	-pie-background: rgba(29, 112, 192, 0.6);
}

#u194-2
{
	font-size: 20px;
	line-height: 2px;
	padding-top: 34px;
}

#u194-4
{
	font-size: 30px;
	line-height: 0px;
	padding-top: 29px;
}

#u193-6
{
	background-color: #6667A1;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u193-6:hover
{
	background-color: #A3A3C6;
	background-color: rgba(102, 103, 161, 0.6);
	-pie-background: rgba(102, 103, 161, 0.6);
}

#u193-6.MuseLinkActive
{
	background-color: #A3A3C6;
	background-color: rgba(102, 103, 161, 0.6);
	-pie-background: rgba(102, 103, 161, 0.6);
}

#u193-2
{
	font-size: 20px;
	line-height: 2px;
	padding-top: 34px;
}

#u193-4
{
	font-size: 30px;
	line-height: 0px;
	padding-top: 26px;
}

#u192-6
{
	background-color: #408381;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u192-6:hover
{
	background-color: #8CB4B3;
	background-color: rgba(64, 131, 129, 0.6);
	-pie-background: rgba(64, 131, 129, 0.6);
}

#u192-6.MuseLinkActive
{
	background-color: #8CB4B3;
	background-color: rgba(64, 131, 129, 0.6);
	-pie-background: rgba(64, 131, 129, 0.6);
}

#u192-2
{
	font-size: 20px;
	line-height: 2px;
	padding-top: 34px;
}

#u192-4
{
	font-size: 30px;
	line-height: 0px;
	padding-top: 26px;
}

#u191-6
{
	background-color: #0DA85C;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u191-6:hover
{
	background-color: #6DCA9D;
	background-color: rgba(13, 168, 92, 0.6);
	-pie-background: rgba(13, 168, 92, 0.6);
}

#u191-6.MuseLinkActive
{
	background-color: #6DCA9D;
	background-color: rgba(13, 168, 92, 0.6);
	-pie-background: rgba(13, 168, 92, 0.6);
}

#u191-2
{
	font-size: 20px;
	line-height: 2px;
	padding-top: 34px;
}

#u191-4
{
	font-size: 30px;
	line-height: 0px;
	padding-top: 26px;
}

#u196
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: transparent url("../images/mascotas-u196-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/mascotas.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover !important;
}

#u188
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #0D73C2;
	-moz-border-radius: 26px 26px 0px 0px ;
	-webkit-border-radius: 26px 26px 0px 0px ;
	-khtml-border-radius: 26px 26px 0px 0px ;
	border-radius: 26px 26px 0px 0px ;
	position: relative;
}

